.trocar{
  background-color: red;
}
.menu-opcoes{
  background-color: var(--green);
  height: 100vh;
  width: 3rem;
}
.botao-cor{
  background: var(--green);
  border: none;
  padding: 10px;
}
.menu-item{
  background-color: var(--green);
  padding: 10px;
}
.menu-exit{
  margin-top: 50.8vh;
  padding: 10px;
  background-color: var(--light-green);
}